<h3>Settings</h3>
<section>
  <%= render "form", settings: @settings, url: settings_path %>
</section>
<section class="settings-devices">
  <%= render 'devices/list' %>
  <%= link_to "Add", new_device_path %>
</section>